<?xml version="1.0" encoding="UTF-8"?>
<palette>
  <color name="Palm Leaf" hex="898952" r="137" g="137" b="82" />
  <color name="Camel" hex="b2945b" r="178" g="148" b="91" />
  <color name="Lemon Lime" hex="d0e562" r="208" g="229" b="98" />
  <color name="Yellow Green" hex="b6d369" r="182" g="211" b="105" />
  <color name="Willow Green" hex="93c48b" r="147" g="196" b="139" />
</palette>
